.aboutTitle {
    font-family: 'Muli', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 50px;
}

.aboutDescription {

    font-family: 'Muli', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 20px;
    width: 50%;
    text-align: center;
    margin: 0 auto;

}

.aboutImage{
    width: 200px;
    height: 300px;
}
