.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;

  }

  .about {
    width: 100%;
    height: calc(110vh - 180px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325E;
    color: #f0f0f0;

  }


  .about h2 {
    font-family: 'Muli', sans-serif;
    font-size: 50px;
    color: #e9d35b;
    height: 20px;
    font-weight: 100;
     /* Ensures the content is not revealed until the animation */
    text-align: center;
    overflow: hidden;

    border-right: .025em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .09em; /* Adjust as needed */
    position: relative;
    padding-bottom: 70px;
    animation:
    typing 1.5s steps(26, end) 1.5s 1 normal both,
    blink-caret 0.5s linear infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 24% }
}


@keyframes blink-caret {
  from, to { border-color: rgba(255,255,255,.75) }
  50% { border-color: transparent; }
}
  .about .prompt {
    width: 40%;
    font-size: 25px;
  }
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
  }

  .about p {
    font-family: 'Muli', sans-serif;
    font-weight: lighter;

  }




