
body {
  background-color: #21325e; /* Your desired background color */

}

.project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: lighter;
    font-family: 'Muli', sans-serif;
    background: #21325e;
  }

  .project h1 {
    margin-top: 50px;
    color: white;
    font-size: 35px;
    font-weight: lighter;

  }
  .project img {
    width: 700px;

    font-weight: lighter;
  }

  .project p {
    font-size: 40px;
    color: white;
    font-weight: lighter;
    font-size: 25px;
  }

  .project svg {
    font-size: 60px;
    color: #3e497a;
    font-weight: lighter;
  }

  .projectDescription {
    max-width: 65%;
  }
